<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <!-- TailwindCSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Custom JS -->
  <script src="static/js/app.js"></script>

  <title>YouTube To MP3 Converter</title>
</head>

<body class="bg-white text-slate-900 dark:bg-slate-900 dark:text-white">
  <div id="toast-container" class="fixed top-0 right-0 p-4"></div>

  <div class="flex flex-col h-screen items-center justify-center -mt-20 py-8 px-4 space-y-2">

    <!-- Image Logo -->
    <div class="flex flex-row items-center justify-center">
      <img src="static/img/logo.png" id="logo" alt="Logo" class="w-16 h-16" />
      <span class="text-2xl font-bold ml-2">YT2MP3</span>
    </div>

    <!-- <h1 class="text-3xl font-bold mb-2">YT2MP3</h1> -->

    <form class="flex flex-col p-4 rounded-md shadow dark:shadow-slate-800 dark:bg-gray-900 space-y-4 w-full max-w-md" action="/download" method="post">
      <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label class="block text-slate-700 dark:text-gray-200 text-sm font-bold mb-2" for="url">
          YouTube URL
        </label>

        <input
          class="transition ease-in-out duration-250 shadow appearance-none border dark:border-slate-800 rounded w-full py-2 px-3 text-gray-700 text-base dark:text-gray-300 dark:bg-slate-900 leading-tight focus:outline-none focus:shadow-outline focus:border-sky-500 focus:border-opacity-60"
          id="url" value="{{url if url else ''}}" name="url" type="text" placeholder="Enter YouTube URL" />
      </div>

      <div class="flex justify-center">
        <span class="relative inline-flex">
          <button id="btn-convert" type="submit"
            class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-red-500 bg-white dark:bg-slate-900 dark:hover:bg-slate-800 transition ease-in-out duration-250 ring-1 ring-slate-900/10 dark:ring-slate-200/20 hover:bg-slate-100 disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            &nbsp;Convert
          </button>
          <span id="loading" class="hidden">
            <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
            </span>
          </span>
        </span>
      </div>
    </form>

    <!-- Footer -->
    <div class="flex flex-row w-full max-w-md text-sm">
      <div class="flex-1 justify-start">
        <a href="https://github.com/phxgg/yt2mp3" target="_blank"
          class="transition ease-in-out duration-250 text-sky-700 hover:text-sky-500 dark:text-sky-500 dark:hover:text-sky-700 inline-flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg>
          &nbsp;View
        </a>
      </div>

      <div class="text-gray-600 dark:text-gray-400">
        Made with ❤️ by <a href="https://github.com/phxgg" target="_blank" class="transition ease-in-out duration-250 text-sky-700 hover:text-sky-500 dark:text-sky-500 dark:hover:text-sky-700">phxgg</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#url').focus();
    });
  </script>
</body>

</html>